:root {
  --bg-color2: grey;
  --bg-color: #888787;
  --nav-color: #5e5e5e;
  --txt-color: black;
  --btn-color: #41658A;
  --btn-hover: #467bb7;
  --btn-txt: #e1d9d9;
}

header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background-color: var(--nav-color);
  color: var(--txt-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 1;
}

header h1 {
  margin: 0;
}

header h1 a {
  text-decoration: none;
  color: var(--txt-color);
}

.first-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.google-div {
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

.theme-switcher {
  position: absolute;
  right: 15%;
}

nav button,
.theme-switcher,
nav a,
.google-btn {
  background-color: var(--bg-color2);
  font-size: 16px;
}

nav a {
  color: var(--btn-txt);
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  opacity: 1;
  transition: 0.3s;
  border-radius: 25px;
  padding: 8px 16px;
}

nav a:hover {
  background-color: var(--btn-hover);
}

body,
h1,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 25px 0 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--txt-color);
  scroll-behavior: smooth;
}

.filter-buttons-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-buttons-div button {
  margin: 5px;
}

.filter-buttons-div p {
  text-align: center;
  margin-top: 5px;
}

.posts-title {
  display: flex;
  justify-content: center;
}

.main-content {
  margin-top: 5rem;
}

.posts {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.posts h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.posts p {
  font-size: 16px;
  margin-bottom: 0;
  line-height: 1.5;
}

.comments {
  padding: 2px 5px 5px;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: var(--bg-color2);
}

.comments p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 5px;
}

.comments h5 {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
}

.commentsHeader {
  margin-bottom: 5px;
}

.comments ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin-right: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

button {
  background-color: var(--btn-color);
  color: var(--btn-txt);
  border: none;
  border-radius: 25px;
  padding: 8px 16px;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--btn-hover);
  transition: background-color 0.3s ease;
}

.load-more-posts {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 10px;
}

.load-more-posts button {
  font-size: 12px;
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: var(--btn-color);
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
  opacity: 0.7;
}

.scroll-to-top-btn:hover {
  opacity: 1;
}
